<%= render 'shared/sign_in_signup' %>
<% content_for :title, "LOGIN" ,class: "text-white" %>
  <div class="bg-white user-new-padding">
    <% if !current_user %>
      <div class="mt-5">
        <%= form_with(url: login_path, scope: :session, local: true) do |f| %>
        <%= render "shared/username",f: f %>
    </div>
  <div class="form-group" >
    <%= f.submit "Log in" , class:"btn btn-primary my-4 mx-auto d-block px-5 py-2" %>
  </div>
  </div>

  <% end %>
    <% else %>
      <ul class="list-unstyled">
        <li>
          <%= link_to 'All my transactions' ,transactions_path %>
        </li>
        <li>
          <%= link_to 'All my external transactions' %>
        </li>
        <li>
          <%= link_to 'All groups' ,groups_path%>
        </li>
        <li></li>
      </ul>
      <% end %>