
<div class="d-flex align-items-center justify-content-start align-items-center">
   <p>  <%= render 'shared/drop_down' %></p>
     <h1 class="text-center text-white mx-auto h-t-w">ALL GROUPS</h1>
   </div>
<div class="bg-light-white p-b pt-2">
   <% @groups.each do |group| %>
   <%= link_to(group_url(group.id), class: "text-decoration-none text-dark") do %>
<section class="d-flex justify-content-between bg-white  align-items-center align-content-center border mx-3 my-2 py-4">
   
   <div>   <img src="<%=group.icon%>" alt=""class="w-75 pl-4 "></div>
   <div>   <%=group.name%></div>
    <div class="font-nova-light mr-3">  <%= group.created_at.strftime('%d %b %Y')%></div>
      
      
</section>

<% end %>
<% end %>
</div>
<div class="bg-success py-3">
   <%= link_to 'new group' , new_group_path, class:'btn btn-transact text-white border w-50 py-3 ' %>
 </div>