<%# <%= form_for(@group,class: 'form-horizontal',html: { multipart: true }) do |f| %> %>
<%= form_for @group,class: 'form-horizontal',html: { multipart: true } do |f| %>

   <div class="form-group">
     <%= f.label :name,class:'col-md-4 control-label' %>
   <div class="col-md-6">
    <%= f.text_field :name,class:'form-control' %></div>
   </div>
 <div class="form-group">
    <%= f.label :icon,class: 'col-md-4 control-label' %>
  <div class="col-md-6">
    <%= f.file_field :icon,class: 'form-control' %>
  </div>
  </div>
   <div class="form-group">
   <div class="col-md-6 col-md-offset-4">
     <%= f.submit %>
   </div>
  </div>

<% end %>