<div class="bg-white pt-5">
<% content_for :title, 'Group Details' %>
<div class="d-flex justify-content-between border p-2  mx-5">
  <div class="d-flex">
  <div>
    <img src="<%= @group.icon %>" alt="" class="grp-img mb-2  rounded w-50">
  </div>
  <ul class="list-unstyled">
    <li>
      <span><%= @group.name %></span>
    </li>
    <li>
      <span> <%=@group.created_at.strftime('%d %b %Y ')%></span>
    </li>
  </ul>
</div>
<div>
  <ul class="list-unstyled">
    <li>
      <span class="font-weight-bold mr-3">$<%= number_with_precision(@transactions.sum(:amount), :precision => 2) %></span>
    </li>
    <li>
    
    <% if !@transactions.blank? %>
      <span><%=@transactions.first.user.username%></span>
    <% end %>
    
    </li>
  </ul>
</div>
</div>
<div  class="d-flex justify-content-between py-2 border-bottom">
  <div class="ml-5" >
   <span > TOTAL AMOUNT</span>
  </div>
  <div>
    <span class="font-weight-bold mr-5 pr-3">$<%= number_with_precision(@transactions.sum(:amount), :precision => 2) %></span>
  </div>
</div>
<div class="bg-success py-3 mt-5">
  <%= link_to 'new group' , new_group_path, class:'btn btn-transact text-white border w-50 py-3 ' %>
</div>
</div>
