<div class="row justify-content-around ">
  <div class="col-3 bg-primary ">
    
  </div>
  <div class="col-6  user-show-gradient">
    <div class="align-self-center"> <div class="ml-3"><%= image_tag current_user.avatar.url(:thumb) %> </div>
      <p class="text-white ml-4"><%= current_user.username%></p></div>
    <ul class="list-unstyled user-show">
      </li class="list-unstyled ">
      <li class="border-bottom "><%= link_to 'All my transactions',transactions_path,class: "text-white text-decoration-none" %> </li>
      <li class="border-bottom ">
      <%= link_to 'All my external transactions', transactions_no_grp_path,class: "text-white text-decoration-none"%></li>
      <li class="my-3"><%= link_to 'All groups',groups_path,class: "text-white text-decoration-none"%></li>
    </ul>
  </div>
  <div class="col-3 bg-primary">
    <p class="text-right"> <%= link_to 'logout', logout_path,method: :delete,class: "text-white text-decoration-none" %></p>
  </div>
</div>
