
<div class="d-flex align-items-center justify-content-start">
<p>  <%= render 'shared/drop_down' %></p>
  <h1 class="text-center text-white mx-auto h-t-w">ALL Transactions</h1>
</div>
<div class="bg-light-white p-b">
<h2 class="d-flex justify-content-between bg-white align-items-center align-content-center py-1">
  <div class="ml-2">
  <span class="font-nova-light t-fs">  Total amount</span>
  </div>
  <div class="font-nova-bold t-fs-a mr-2">
    $<%=sum_amount(@transactions)%>
  </div>
</h2>
<% @transactions.each do |transaction| %>
<%= link_to(transaction_url(transaction.id), class: "text-decoration-none text-dark") do %>
  <section class="d-flex justify-content-between border py-3 mx-2 my-3 bg-white">
    <div class="d-flex">
      <div class="border"><img src="<%=transaction.group.icon%>" alt="" class="w-75 pl-4 "></div>
      <div class="d-flex flex-column justify-content-between ml-3">
        <div>
          <span>
            <%=transaction.name%>
          </span>
        </div>
        <div>
          <span class="font-nova-light">
            <%=transaction.created_at.strftime('%d %b %Y at %l:%M%P')%>
          </span>
        </div>
      </div>
    </div>
    <div class="font-nova-bold mr-2">$<%=transaction.amount%>
    </div>
  </section>
  <% end %>
  <% end %>
      </div>
 
      <div class="bg-success py-3">
        <%= link_to 'new transaction' , new_transaction_path, class:'btn btn-transact text-white border w-50 py-3 ' %>
      </div>
     