<% content_for :title, "ALL Transactions" %>
<div class="bg-light-white">
<h2 class="d-flex justify-content-between bg-white">
  <div >
  <span class="light-white">  Total amount</span>
  </div>
  <div>
    $<%=sum_amount(@transactions)%>
  </div>
</h2>
<% @transactions.each do |transaction| %>
  <section class="d-flex justify-content-between border  bg-white py-3 mx-2 my-3">
    <div class="d-flex">
      <div class="border"><img src="<%=transaction.group.icon%>" alt="" class="w-25 "></div>
      <div>
        <ul class="list-unstyled ml-3">
          <li>
            <%=transaction.name%>
          </li>
          <li>
            <%=transaction.created_at.strftime('%d %b %Y at %l:%M%P')%>
          </li>
        </ul>
      </div>
    </div>
    <div>$<%=transaction.amount%>
    </div>
  </section>
  <% end %>
  <div class="bg-success py-3">
    <%= link_to 'new transaction' , new_transaction_path, class:'btn text-white border w-50 py-3 ' %>
  </div>
 
      </div>
    </div>