
<div class="d-flex align-items-center align-content-center justify-content-start">
  <p>  <%= render 'shared/drop_down' %></p>
    <h1 class="text-center text-white mx-auto h-t-w">NO GROUP TRANSACTIONS</h1>
  </div>
<div class="bg-light-white p-b">
<h2 class="d-flex justify-content-between bg-white">
  <div>
    <span class="font-nova-light t-fs ml-2">  Total amount</span>
  </div>
  <div class="mr-1">
   <span class="font-nova-bold t-fs-a mr-2"> $<%=sum_amount(@transaction_nil)%></span>
  </div>
</h2>
<% @transaction_nil.each do |transaction| %>
  <section class="d-flex justify-content-between border bg-light-white py-3 mx-2 my-3 ">
    <div class="ml-2">
      <%=transaction.name%>
    </div>
      <div class="font-nova-light">
        <%=transaction.created_at.strftime('%d %b %Y at %l:%M%P')%>
      </div>
   
    <div class="font-nova-bold mr-2">$<%=transaction.amount%>
    </div>
  </section>
  <% end %>
      </div>
      <div class="bg-success py-3">
        <%= link_to 'new transaction' , new_transaction_path, class:'btn btn-transact text-white border w-50 py-3 ' %>
      </div>