<%= render 'shared/drop_down' %>
<% content_for :title, "No group transaction" %>
<div class="bg-light-white">
<h2 class="d-flex justify-content-between bg-white">
  <div>
    <span class="light-white">  Total amount</span>
  </div>
  <div>
    $<%=sum_amount(@transaction_nil)%>
  </div>
</h2>
<% @transaction_nil.each do |transaction| %>
  <section class="d-flex justify-content-between border bg-white py-3 mx-2 my-3 ">
    <div>
      <%=transaction.name%>
    </div>
      <div>
        <%=transaction.created_at.strftime('%d %b %Y at %l:%M%P')%>
      </div>
   
    <div>$<%=transaction.amount%>
    </div>
  </section>
  <% end %>
  <div class="bg-success py-3">
    <%= link_to 'new transaction' , new_transaction_path, class:'btn btn-transact text-white border w-50 py-3 ' %>
  </div>
      </div>
    </div>