<div class="d-flex align-items-center justify-content-start align-items-center">
  <p>  <%= render 'shared/drop_down' %></p>
    <h1 class="text-center text-white mx-auto h-t-w">Transaction details</h1>
  </div>
<section class=" border bg-white p-b">
    <% if @transaction.group %>
 <div class="border py-3">
  <div class="d-flex">
    <div><img src="<%=@transaction.group.icon%>" alt="" class="w-50 border">
      <% end %>
    </div>
    <div ><span>Transaction name <br><%=@transaction.name%></span>
    </div>
  </div>
  <div class="transaction-id-info   d-flex justify-content-between py-3">
    <div class="ml-2">
      <span> Transaction No.<%=@transaction.id%></span>
    </div>
    <div class="mr-3">
 <span>Date created <br> <%=@transaction.created_at.strftime('%d %b %Y at %l:%M%P')%></span>
    </div>
  </div>
  <div class="d-flex justify-content-between  py-3">
    <div class="amount ml-2">
      Amount
    </div>
    <div class="mr-3">$<%=@transaction.amount%>
    </div>
  </div>
</div>
</section>
<div class="bg-success py-3">
  <%= link_to 'new group' , new_group_path, class:'btn btn-transact text-white border w-50 py-3 ' %>
</div>